#title {
  padding: 30px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 1px;
}

h1 {
  text-align: center;
  font-family: "URW Chancery L", cursive;
  font-stretch: semi-expanded;
}

ul {
  list-style-type: none;
  font-family: "URW Chancery L", cursive;
  font-stretch: semi-expanded;
  padding: 0;
  border: 1px solid #ddd;
}

ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none;
}

body {
  background-color: lightyellow;
}